In [2]:
import pandas as pd

df1 = pd.DataFrame({
     'city': ['New York', 'Los Angeles', 'Chicago'],
        'population': [8419600, 3980400, 2716000]})
df1

          city  population
0     New York     8419600
1  Los Angeles     3980400
2      Chicago     2716000

In [3]:
df2 = pd.DataFrame({
    'city': ['New York', 'Los Angeles', 'Chicago'],
    'temperatue': [30, 25, 20]
})
df2

          city  temperatue
0     New York          30
1  Los Angeles          25
2      Chicago          20

In [5]:
df3 = pd.merge(df1, df2)
df3

          city  population  temperatue
0     New York     8419600          30
1  Los Angeles     3980400          25
2      Chicago     2716000          20